.imagem-centralizada {
  display: block;
  margin: 0 auto;
  width: 15%;
}
.texto-principal {
    text-align:center;

}

.texto-rodape {
    position: fixed; /* Fixa o elemento em relação à janela do navegador */
    bottom: 0; /* Coloca o elemento na parte inferior */
    left: 0; /* Alinha o elemento à esquerda */
    width: 100%; /* Faz o elemento ocupar toda a largura */
    background-color: #ff9100; 
    text-align: center; 
    padding: 10px; 
    font-weight:bold;
}

body{

    font-family: "Alan Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:weight;
    font-style:normal;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center; /* Centraliza itens horizontal e verticalmente */
  gap: 20px; /* Adiciona um espaço entre os itens */

}

a{
    text-decoration: none;

}

a:link{
    color: #ff9100;
    text-decoration: none;

}

a:visited{
    color: #ff9100;
}

a:hover{
    color: #a75f00;

}