
.img-1 {
    position: center;
}
.texto-principal {
    text-align:center;

}

.textos{
    display: flex;
    gap: 10px;

}

.text-1 {
    display: inline-block;
    text-align: left;
    background-color: #ffffff;
    width: auto;
    height: 200px;
    border-radius: 10px;
    margin: 10px;

}

.texto-rodape {
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    background-color: #81807d; 
    text-align: center; 
    padding: 10px; 
    font-weight:bold;
}

body{
    background-color: rgb(218, 215, 214);
    font-family: "Alan Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:weight;
    font-style:normal;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center; 
  gap: 20px; 

}

a{
    text-decoration: none;

}

a:link{
    color: #ffffff;
    text-decoration: none;

}

a:visited{
    color: #000000;
}

a:hover{
    color: #ffffff;

}